@keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(10deg);
    }
    30% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(5deg);
    }
    70% {
      transform: rotate(0deg);
    }
    80% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes sonar {
    0% {
      transform: scale(0.9);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  body {
    font-size: 0.9rem;
  }
  
  .page-wrapper .sidebar-wrapper,
  .sidebar-wrapper .sidebar-brand > a,
  .sidebar-wrapper .sidebar-dropdown > a:after,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
  .sidebar-wrapper ul li a i,
  .page-wrapper .page-content,
  .sidebar-wrapper,
  .sidebar-wrapper .input-group-text,
  .sidebar-wrapper .sidebar-menu ul li a,
  #show-sidebar,
  #close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .page-wrapper {
    height: 100vh;
  }
  
  .page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
  }
  
  .page-wrapper .theme.chiller-theme {
    background: #FF8000;
  }
  
  .page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
  }
  
  @media screen and (min-width: 1280px) {
    .page-wrapper.toggled .page-content {
      padding-left: 230px;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .page-wrapper.toggled .header {
        padding-left: 230px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
  }

  #show-sidebar:hover {
    background-color: black;
    border-color: black;
  }

  .page-wrapper.toggled #show-sidebar {
    left: -40px;
  }
  
  @media screen and (max-width: 419px) {
    .sidebar-wrapper {
      width: 220px;
      height: 100%;
      max-height: 100%;
      position: fixed;
      top: 94px;
      left: -220px;
      z-index: 999;
    }

    .page-wrapper .page-content {
      display: inline-block;
      width: 100%;
      padding-top: 80px;
      padding-bottom: 80px;
      overflow-x: hidden;
    }

    #show-sidebar {
      color: white;
      background-color: #808080;
      border-color: #808080;
      position: fixed;
      left: 0;
      top: 104px;
      border-radius: 0 4px 4px 0px;
      width: 30px;
      transition-delay: 0.3s;
    }
  }
  
  @media screen and (min-width: 420px) {
    .sidebar-wrapper {
      width: 220px;
      height: 100%;
      max-height: 100%;
      position: fixed;
      top: 52px;
      left: -280px;
      z-index: 999;
    }

    .page-wrapper .page-content {
      display: inline-block;
      width: 100%;
      padding-top: 50px;
      overflow-x: hidden;
    }

    #show-sidebar {
      color: white;
      background-color: #808080;
      border-color: #808080;
      position: fixed;
      left: 0;
      top: 75px;
      border-radius: 0 4px 4px 0px;
      width: 30px;
      transition-delay: 0.3s;
    }
  }
  
  .sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-wrapper a {
    cursor: pointer;
    text-decoration: none;
  }

  .sidebar-content {
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
    background-color: white;
  }
  
  /* .sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: auto;
    position: relative;
  } */
  
  .sidebar-content.desktop {
    overflow-y: hidden;
  }
  
  .sidebar-wrapper .sidebar-brand {
    background-color: white;
    padding: 8px 14px 4px 20px;
    display: flex;
    align-items: center;
  }
  
  .sidebar-wrapper .sidebar-brand > a {
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
  }
  
  .sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor: pointer;
    font-size: 18px;
  }
  
  .sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
  }
  
  .sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 10px;
    overflow: hidden;
  }
  
  .sidebar-wrapper .sidebar-header .user-pic img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .sidebar-wrapper .sidebar-header .user-info {
    float: left;
  }
  
  .sidebar-wrapper .sidebar-header .user-info > span {
    display: block;
  }
  
  .sidebar-wrapper .sidebar-header .user-info .user-role {
    font-size: 12px;
  }
  
  .sidebar-wrapper .sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
  }
  
  .sidebar-wrapper .sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c;
  }
  
  .sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
  }
  
  .sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 95%;
    text-decoration: none;
    position: relative;
    padding: 4px 14px 4px 10px;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a i {
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    margin-right: 4px;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
    display: inline-block;
    animation: swing ease-in-out 0.5s 1 alternate;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown2 > a:after, 
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown3 > a:after,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown4 > a:after,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown5 > a:after,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown6 > a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 5px;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 20px;
    font-size: 0.75rem;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 8px;
    font-size: 8px;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a span.label,
  .sidebar-wrapper .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    float: right;
    margin-top: 0px;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown2.active > a:after,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown3.active > a:after,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown4.active > a:after,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown5.active > a:after,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown6.active > a:after {
    transform: rotate(90deg);
    right: 5px;
  }

  .page-wrapper .page-content .container-fluid i {
      padding: 12px;
  }  
  
  .page-wrapper .page-content .container-fluid span {
      font-size: 26px;
  }

  .page-wrapper .page-content .container-fluid table {
      width: 100%;
  }

  .page-wrapper .page-content .container-fluid table tr .statistik .container {
      background-color: white;
      padding: 24px;
      border-radius: 24px;
  }

  .page-wrapper .page-content .container-fluid table tr .statistik .container div i {
    position: absolute;
    right: 0;
  }

  .page-wrapper .page-content .container-fluid table tr td {
    padding: 12px;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border: 0px none white;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #808080;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #808080;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none white;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: transparent;
  }
  ::-webkit-scrollbar-track:active {
    background: transparent;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  .chiller-theme .sidebar-wrapper {
      box-shadow: 2px 0px 10px #e6e6e6;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
      border-color: transparent;
      box-shadow: none;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
  .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
  .chiller-theme .sidebar-wrapper .sidebar-brand>a,
  .chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
  .chiller-theme .sidebar-footer>a {
      color: #999999;
      font-weight: 650;
  }

  .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role:hover,
  .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status:hover,
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:hover,
  .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text:hover,
  .chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
  .chiller-theme .sidebar-wrapper .sidebar-menu ul li a:hover,
  .chiller-theme .sidebar-footer>a:hover {
      color: black;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
  .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
  .chiller-theme .sidebar-wrapper .sidebar-header .user-info,
  .chiller-theme .sidebar-footer>a:hover i {
      background-color: white;
  }
  
  .page-wrapper.chiller-theme.toggled #close-sidebar {
      color: #999999;
  }
  
  .page-wrapper.chiller-theme.toggled #close-sidebar:hover {
      color: black;
  }
  
  .chiller-theme .sidebar-wrapper ul li:hover a i,
  .chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
  .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active  {
      background-color: white;
  }
  
  /* .chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
  .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
      background: #0066CC;
  } */
  
  /* .chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
      color: #0080FF;
  } */
  
  .chiller-theme .sidebar-footer {
      background: #3a3f48;
      box-shadow: 0px -1px 5px #282c33;
      border-top: 1px solid #464a52;
  }
  
  .chiller-theme .sidebar-footer>a:first-child {
      border-left: none;
  }
  
  .chiller-theme .sidebar-footer>a:last-child {
      border-right: none;
  }
  