body {
    font-family: 'Nunito', sans-serif;
}

.align-item-center {
    align-items: center;
}

.background-login {
    background-color: #66B2FF;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.card-login {
    background-color: white;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    position: relative;
}

.center-object {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color-danger {
    color: red;
}

.color-success {
    color: lime;
}

.color-grey {
    color: #cccccc;
}

.container-login {
    margin: auto;
    max-width: 375px;
    width: 100%;
}

input[readonly] {
    pointer-events: none;
    touch-action: none;
}

.font-1 {
    font-size: 0.6rem;
}

.font-2 {
    font-size: 0.7rem;
}

.font-3 {
    font-size: 0.8rem;
}

.font-4 {
    font-size: 0.9rem;
}

.font-5 {
    font-size: 1rem;
}

.font-6 {
    font-size: 1.1rem;
}

.font-7 {
    font-size: 1.2rem;
}

.font-8 {
    font-size: 1.3rem;
}

.font-9 {
    font-size: 1.4rem;
}

.font-10 {
    font-size: 1.5rem;
}

.font-weight-200 {
    font-weight: 200;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-800 {
    font-weight: 800;
}

hr {
    border: 1px solid;
    width: 100%;
}

.popup {
  position: absolute;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.popup-background {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.popup-body {
  flex: 1 1 auto;
  padding: 1rem;
}

.navbar {
    align-items: center;
    background-color: #003366;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.navbar-brand {
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
}

.navbar-nav {
    flex-direction: column;
    list-style: none;
}

select {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.35rem;
    width: 100%;
}

select[readonly] {
    pointer-events: none;
    touch-action: none;
}